header {
  background-color: white;
}

.project-name {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.project-name h1 {
  margin: 10px;
  margin-top: 20px;
}

.container-info-header {
  background-color: rgb(0, 42, 79);
  display: flex;
  justify-content: space-around;
}

.email {
  align-items: center;
  color: white;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: flex-start;
  margin: 5px;
  width: 50%;
}

.resume-expense {
  align-items: center;
  color: white;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: flex-end;
  margin: 5px;
  width: 30%;
}

.coin {
  margin-left: 20px;
}

.icon {
  margin-left: 20px;
}

@media screen and (min-width: 200px) and (max-width: 649px) {
  .container-info-header {
    flex-wrap: wrap;
  }

  .project-name h1 {
    font-size: 35px;
  }

  .email {
    align-items: center;
    color: white;
    display: flex;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    width: 80%;
  }

  .resume-expense {
    color: white;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    width: 100%;
  }

  .coin {
    font-size: 16px;
    height: 20px;
  }

  .icon {
    margin-right: -15px;
    width: 40px;
  }
}
